<ng-container *transloco="let t">
  <div class="wrapper alt">
    <div class="inner" *ngIf="post$ | async as post">
      <section class="blog-header">
        <span *ngIf="post.thumbnail" class="image fit">
          <img [src]="post.thumbnail" [attr.alt]="'headerImage' | transloco" />
        </span>
      </section>
      <section class="extra-section" *ngIf="post.keywords">
        <div class="extra-info">
          <h2 class="sub-heading">{{ t('keywords') }}</h2>
          <h2 *ngIf="post.updated" class="sub-heading">
            {{ t('lastUpdate') }}: {{ post.updated | date }}
          </h2>
        </div>
        <div class="actions">
          <span *ngFor="let keyword of post.keywords">
            <button
              routerLink="/blog"
              [queryParams]="{ keyword: keyword }"
              class="button xs"
              [attr.aria-label]="
                'keywordAriaLabel' | transloco: { value: keyword }
              "
            >
              {{ keyword }}
            </button>
          </span>
        </div>
        <div
          *ngIf="post.publishedAt && post.publishedAtUrl"
          class="published-at"
        >
          <div>
            <a [href]="post.publishedAtUrl" class="published-at-link">
              <img
                *ngIf="post.publishedAtLogo"
                class="published-at-logo"
                [src]="post.publishedAtLogo"
                [attr.alt]="'publisherLogo' | transloco"
              />
            </a>
          </div>
          <div>
            {{ t('originallyPublishedAtLong') }}:
            <a [href]="post.publishedAtUrl">{{ post.publishedAt }}</a
            >.
          </div>
        </div>
      </section>
      <section class="external-links">
        <a *ngIf="post.devTo" [href]="post.devTo">{{ t('readOnDevTo') }}</a>
      </section>
      <section class="blog-content">
        <scully-content></scully-content>
        <div class="edit-on-github">
          <a
            [href]="editOnGithubLink()"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ t('editOnGithub') }}
          </a>
        </div>
      </section>
      <section class="blog-footer">
        <h3>{{ t('share.label') }}</h3>
        <ul class="share-toolbar">
          <li>
            <a
              (click)="shareApi(post.title, post.description)"
              [attr.alt]="'share.common.alt' | transloco"
              ><i
                class="fa fa-share-alt"
                [attr.aria-label]="'share.common.aria' | transloco"
              ></i>
            </a>
          </li>
          <li>
            <a
              [href]="shareEmail(post.title, post.description, post.author)"
              rel="noopener noreferrer"
              [attr.alt]="'share.email.alt' | transloco"
              id="shareEmail"
              ><i
                class="fa fa-envelope"
                [attr.aria-label]="'share.email.aria' | transloco"
              ></i>
            </a>
          </li>
          <li>
            <a
              [href]="shareTwitter()"
              target="_blank"
              rel="noopener noreferrer"
              [attr.alt]="'share.twitter.alt' | transloco"
              ><i
                class="fa fa-twitter"
                [attr.aria-label]="'share.twitter.aria' | transloco"
              ></i>
            </a>
          </li>
          <li>
            <a
              [href]="shareFacebook()"
              target="_blank"
              rel="noopener noreferrer"
              [attr.alt]="'share.facebook.alt' | transloco"
              ><i
                class="fa fa-facebook"
                [attr.aria-label]="'share.facebook.aria' | transloco"
              ></i>
            </a>
          </li>
          <li>
            <a
              [href]="shareLinkedIn()"
              target="_blank"
              rel="noopener noreferrer"
              [attr.alt]="'share.linkedIn.alt' | transloco"
              ><i
                class="fa fa-linkedin"
                [attr.aria-label]="'share.linkedIn.aria' | transloco"
              ></i>
            </a>
          </li>
          <li>
            <a
              [href]="shareXing()"
              target="_blank"
              rel="noopener noreferrer"
              [attr.alt]="'share.xing.alt' | transloco"
              ><i
                class="fa fa-xing"
                [attr.aria-label]="'share.xing.aria' | transloco"
              ></i>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</ng-container>
