<ng-container *transloco="let t">
  <article class="wrapper alt">
    <div class="inner">
      <ng-container *ngIf="post$ | async as post">
        <section class="blog-header">
          <span *ngIf="post.thumbnail" class="image fit">
            <img
              [src]="post.thumbnail"
              [attr.alt]="'headerImage' | transloco"
            />
          </span>
        </section>
        <section class="extra-section" *ngIf="post.keywords">
          <div class="extra-info">
            <h2 class="sub-heading">{{ t('keywords') }}</h2>
            <h2 *ngIf="post.updated" class="sub-heading">
              {{ t('lastUpdate') }}: {{ post.updated | date }}
            </h2>
          </div>
          <div class="actions">
            <span *ngFor="let keyword of post.keywords">
              <button
                routerLink="/blog"
                [queryParams]="{ keyword: keyword }"
                class="button xs"
                [attr.aria-label]="
                  'keywordAriaLabel' | transloco: { value: keyword }
                "
              >
                {{ keyword }}
              </button>
            </span>
          </div>
          <div
            *ngIf="post.publishedAt && post.publishedAtUrl"
            class="published-at"
          >
            <div>
              <a [href]="post.publishedAtUrl" class="published-at-link">
                <img
                  *ngIf="post.publishedAtLogo"
                  class="published-at-logo"
                  [src]="post.publishedAtLogo"
                  [attr.alt]="'publisherLogo' | transloco"
                />
              </a>
            </div>
            <div>
              {{ t('originallyPublishedAtLong') }}:
              <a [href]="post.publishedAtUrl">{{ post.publishedAt }}</a
              >.
            </div>
          </div>
        </section>
        <section class="external-links">
          <a *ngIf="post.devTo" [href]="post.devTo">Dev.to</a>
          <span *ngIf="post.devTo && post.medium"> | </span>
          <a *ngIf="post.medium" [href]="post.medium">Medium.com</a>
        </section>
      </ng-container>
      <section class="blog-content">
        <scully-content></scully-content>
        <div class="edit-on-github">
          <a
            [href]="editOnGithubLink()"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ t('editOnGithub') }}
          </a>
        </div>
      </section>
      <section class="blog-footer">
        <h2 class="sub-heading">{{ t('share.label') }}</h2>
        <div #shareBtnBox>
          <share-buttons
            [theme]="'circles-dark'"
            [include]="[
              'copy',
              'twitter',
              'email',
              'whatsapp',
              'facebook',
              'telegram',
              'messenger',
              'linkedin',
              'xing',
              'sms',
              'print'
            ]"
            [show]="shareBtnCnt"
            [url]="shareData.url"
            [description]="shareData.description"
            [autoSetMeta]="false"
          ></share-buttons>
        </div>
      </section>
    </div>
  </article>
</ng-container>
