@import '../../../sass/libs/vars';

.wrapper {
  margin-top: 0;
}

h1 {
  font-size: 1.4em;
}

h2.keywords-heading {
  font-size: 0.9em;
}

.published-at {
  margin-bottom: 30px;
}
a.published-at-link {
  text-decoration: none;
  border: none;
}

.published-at-logo {
  padding-right: 20px;
}

.share-toolbar {
  list-style: none;
  height: 40px;
  padding: 0px;

  > li {
    float: left;

    > a {
      display: block;
      cursor: pointer;
      border-bottom: 0px;

      > i {
        border: 1px solid $c06;
        padding: 10px;
        border-radius: 40px;
        color: $c06;
        min-width: 38px;
      }

      i.fa-facebook::before {
        margin-left: 2px;
      }

      &:hover > i {
        border: 1px solid $c02;
        color: $c06;
      }
    }
  }
}

.blog-tags {
  padding-bottom: 2em;
}

::slotted(h1) {
  color: rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  font-size: 1.4em;
  width: fit-content;
}
