@import '../../../sass/libs/vars';

.features {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px 1.75em;
  grid-auto-flow: row;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  margin-right: 1.7em;
}

@media screen and (max-width: 800px) {
  .features {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
  .features {
    margin-right: 0;
  }
}
