<footer id="footer">
  <div class="inner" id="contact">
    <h2 class="major">Kontaktieren Sie mich</h2>
    <p>
      Haben Sie Fragen oder Anregungen? Nehmen Sie gern Kontakt mit mir auf!
    </p>
    <ul class="contact">
      <li>
        <fa-icon [icon]="['far', 'envelope']"></fa-icon>
        <a href="mailto:mail&#64;k9n.dev">Mail: mail&#64;k9n.dev</a>
      </li>
      <li>
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
        <a href="https://github.com/d-koppenhagen">GitHub: d-koppenhagen</a>
      </li>
      <li>
        <fa-icon [icon]="['fab', 'bluesky']"></fa-icon>
        <a rel="me" href="https://bsky.app/profile/k9n.dev">
          Bluesky: k9n.dev
        </a>
      </li>
      <li>
        <fa-icon [icon]="['fab', 'mastodon']"></fa-icon>
        <a rel="me" href="https://techhub.social/@k9n">
          Mastodon: &#64;k9n&#64;techhub.social
        </a>
      </li>
      <li>
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        <a href="https://www.linkedin.com/in/d-koppenhagen/"
          >LinkedIn: d-koppenhagen</a
        >
      </li>
      <li>
        <fa-icon [icon]="['fab', 'xing']"></fa-icon>
        <a href="https://www.xing.com/profile/Danny_Koppenhagen"
          >Xing: Danny_Koppenhagen</a
        >
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; 2023 by Danny Koppenhagen</li>
      <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
      <li>
        Vorschläge? Feedback? Bugs?
        <a href="https://github.com/d-koppenhagen/k9n.dev/issues">
          Stell ein Issue ein</a
        >,
        <a href="https://github.com/d-koppenhagen/k9n.dev/pulls"
          >sende mir einen PR</a
        >
        oder <a routerLink="/contact">kontaktiere mich</a>
      </li>
    </ul>
  </div>
</footer>
