<footer id="footer">
  <div class="inner" id="contact">
    <h2 class="major">Kontaktieren Sie mich</h2>
    <p>
      Haben Sie Fragen oder Anregungen? Nehmen Sie gern Kontakt mit mir auf!
    </p>
    <ul class="contact">
      <li class="icon solid fa-envelope">
        <a href="mailto:mail&#64;k9n.dev">mail&#64;k9n.dev</a>
      </li>
      <li class="icon brands fa-github">
        <a href="https://github.com/d-koppenhagen">github.com/d-koppenhagen</a>
      </li>
      <li class="icon brands fa-twitter">
        <a href="https://twitter.com/d_koppenhagen"
          >twitter.com/d_koppenhagen</a
        >
      </li>
      <li class="icon brands fa-linkedin">
        <a href="https://www.linkedin.com/in/d-koppenhagen/"
          >linkedin.com/in/d-koppenhagen</a
        >
      </li>
      <li class="icon brands fa-xing">
        <a href="https://www.xing.com/profile/Danny_Koppenhagen"
          >xing.com/profile/Danny_Koppenhagen</a
        >
      </li>
      <li class="icon brands fa-mastodon">
        <a rel="me" href="https://techhub.social/&#64;k9n"
          >https://techhub.social/&#64;k9n</a
        >
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; 2023 by Danny Koppenhagen</li>
      <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
      <li>
        Vorschläge? Feedback? Bugs?
        <a href="https://github.com/d-koppenhagen/k9n.dev/issues">
          Stell ein Issue ein</a
        >,
        <a href="https://github.com/d-koppenhagen/k9n.dev/pulls"
          >sende mir einen PR</a
        >
        oder <a routerLink="/contact">kontaktiere mich</a>
      </li>
    </ul>
  </div>
</footer>
