.header-title {
  background-image: url('/assets/images/dk-bg.jpg');
  background-size: cover;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.2em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000004a;
}

#banner {
  background-image: url('/assets/images/bg3.jpg');
}
