.header-title {
  background-image: url('/assets/images/bg6s.png');
  background-size: cover;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.2em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000004a;
}

#banner {
  background-image: url('/assets/images/dk-header.png');
  background-size: cover;
}

#logo {
  padding-bottom: 1em;
  animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}
