@import '../../sass/libs/vars';

.header-title {
  background-image: url('/assets/images/bg6s.png');
  background-size: cover;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.2em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000004a;
}

p.sub-header {
  color: $c01;
  font-size: 1.2em;
}

#banner {
  background-image: url('/assets/images/dk-header.png');
  background-size: cover;
  padding: 9em 0 12em 0;
  cursor: pointer;
}

#logo {
  position: absolute;
  top: 0px;
  width: 70px;
  animation: move-to-top 1s ease, rotate 4s ease 1;
  cursor: pointer;
}

@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}

@keyframes move-to-top {
  0% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

@media screen and (max-width: 800px) {
  .header-title {
    font-size: 3em;
  }
}

@media screen and (max-width: 736px) {
  p.sub-header {
    font-size: 1em !important;
    padding-right: 110px;
  }
}

@media screen and (max-width: 620px) {
  .header-title {
    font-size: 2.5em;
    padding-right: 110px;
  }
}

@media screen and (max-width: 400px) {
  .header-title {
    font-size: 2em;
  }

  #banner {
    background-size: cover 60%;
  }
}
