a.card-image > img {
  height: 180px;
  object-fit: cover;
}
.published-at {
  margin-bottom: 15px;
}
a.published-at-link {
  text-decoration: none;
  border: none;
}
.published-at-logo {
  margin-top: 10px;
}

/* media queries */
@media screen and (max-width: 980px) {
  a.card-image > img {
    height: 150px;
  }
}

@media screen and (max-width: 736px) {
  a.card-image > img {
    height: 120px;
  }
}
