@if (post(); as post) {
  <article [lang]="post.attributes.language">
    <h3 class="card-header">
      @if (externalUrl) {
        <a
          [href]="externalUrl"
          [lang]="post.attributes.language || 'de'"
          target="_blank"
        >
          {{ post.attributes.title }}
        </a>
      } @else {
        <a [lang]="post.attributes.language || 'de'" [routerLink]="routeToPost">
          {{ post.attributes.title }}
        </a>
      }
    </h3>
    <div class="card-content" [lang]="post.attributes.language || 'de'">
      <p>
        {{ post.attributes.description }}
      </p>
    </div>

    @if (post.attributes.publishedAt) {
      <footer>
        @if (post.attributes.publishedAt.logo) {
          <img
            class="published-at-logo"
            [src]="post.attributes.publishedAt.logo"
            alt=""
          />
        } @else {
          Original veröffentlicht auf {{ post.attributes.publishedAt.name }}
        }
      </footer>
    }
    <img
      class="card-image"
      [src]="post.attributes.thumbnail.card || post.attributes.thumbnail.header"
      alt=""
    />
  </article>
}
