@import '../../../sass/libs/vars';

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;

  &:focus-within {
    outline: 2px solid $c02;
    outline-offset: 1px;
  }
}

img.card-image {
  height: 180px;
  object-fit: cover;
}
.card-header {
  margin: 1.5rem 1.5rem 0;
  .major {
    min-height: 100px;
  }
}
.card-content {
  align-self: flex-start;
  margin: 0 1.5rem;
}
.card-footer {
  margin: 1.5rem 1.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  .read-on {
    white-space: nowrap;
    margin-right: 10px;
    display: flex;
    gap: 0.75rem;
  }

  .published-at-link {
    text-decoration: none;
    border: none;
    float: right;
    width: 150px;

    > img.published-at-logo {
      float: right;
      max-height: 50px;
      padding-bottom: 0.75rem;
    }
  }
}
/* media queries */
@media screen and (max-width: 980px) {
  img.card-image {
    height: 150px;
  }

  .read-on {
    font-size: 0.7em !important;
  }
}

@media screen and (max-width: 800px) {
  .read-on {
    font-size: 0.6em !important;
  }
}

@media screen and (max-width: 736px) {
  img.card-image {
    height: 120px;
  }

  .read-on {
    visibility: hidden;
    &::before {
      visibility: visible;
    }
  }
}
