<section id="about" class="wrapper style2">
  <div class="inner">
    <section class="about" id="about-k9n">
      <h3 class="major">k9n.dev?</h3>
      <p>
        Warum k9n.dev? Hierbei handelt es sich um ein Numeronym, bei dem die
        Zahl zwischen den beiden Buchstaben für die Anzahl der ausgelassenen
        Buchstaben in meinem Nachnamen steht (Vgl.: a11y, i18n, l10n, ...).
      </p>
    </section>
    <section class="about">
      <h3 class="major">Über mich</h3>
      <p>
        Ich bin Danny Koppenhagen: Frontend Entwickler und -Architekt. Ich
        entwickle seit vielen Jahren nutzerzentrierte Enterprise Webanwendung
        und bevorzuge die Arbeit im DevOps-Produktionsmodell. Als technologische
        Basis setze ich auf moderne SPA-Frameworks wie Angular und Vue mit
        TypeScript. Weiterhin bin ich als Berater im Bereich der Webentwicklung
        tätig und Maintainer einiger Open Source Projekte.
      </p>
    </section>
    <h3 class="major">Interviews</h3>
    <section class="interviews">
      <article class="text-img">
        <div>
          <h4>
            IT&#64;DB Podcast Folge #73 vom 18.01.2024: Digitale
            Barrierefreiheit
          </h4>
          <p>
            Zusammen mit meinem Kollegen
            <a
              href="https://techstories.dbsystel.de/blog/profiles/Maximilian-Franzke.html"
              target="_blank"
              >Maximilian Franzke</a
            >
            von der DB Systel, war ich zu Gast beim IT&#64;DB Podcast von
            <a
              href="https://www.linkedin.com/in/jan-g%C3%B6tze-178516a6/"
              target="_blank"
              >Jan Götze</a
            >. Hier haben wir darüber gesprochen, warum es in unserer zunehmend
            digitalisierten Welt von entscheidender Bedeutung ist, dass wir die
            Prinzipien der digitalen Barrierefreiheit fest in unserer Gestaltung
            und Entwicklung von digitalen Produkten verankern. Barrierefreiheit
            geht weit über bloße Compliance hinaus – es ist die Grundlage für
            eine inklusive und gerechte Online-Erfahrung! Digitale
            Barrierefreiheit ermöglicht es Menschen mit unterschiedlichen
            Fähigkeiten, unabhängig von physischen oder kognitiven
            Einschränkungen, die gleichen Chancen im digitalen Raum zu nutzen.
          </p>
          <div class="button-group">
            <a
              class="button small"
              href="https://open.spotify.com/episode/4n6qXpYtCZ9UQACbUPNMpG?si=fIldVBQhR_e8Vw4iStiBSw"
            >
              <i class="icon brands fa-spotify"></i> Spotify
            </a>
            <a
              class="button small"
              href="https://podcasts.apple.com/de/podcast/digitale-barrierefreiheit-danny-koppenhagen-und-maximilian/id1462447493?i=1000642092259"
            >
              <i class="icon brands fa-apple"></i>Apple Podcasts
            </a>
            <a
              class="button small"
              href="https://deezer.page.link/MZaQ2c5YqQ28vcdn6"
            >
              <i class="icon brands fa-deezer"></i>Deezer
            </a>
          </div>
        </div>
        <img
          src="https://media.licdn.com/dms/image/D4E22AQHztV_QWoMxAQ/feedshare-shrink_800/0/1705642423273?e=1708560000&v=beta&t=YMuXzTJTAYl4TgnLD8n8ETVzVWjM_TVsI2vk1uuHic8"
          alt='Ein lebendiger oranger Hintergrund bildet die Kulisse für kreative Würfel, die in geschickter Anordnung die Worte "Accessible" und "Possible" formen. Die Würfel sind tastbar, mit klaren Strukturen, um die Botschaft haptisch erfahrbar zu machen. Das Bild verweist auf Folge Nummer 73 der Podcastfolge von IT@DB zum Thema "Digitale Barrierefreiheit"'
        />
      </article>
      <div class="grid-container">
        <article class="grid-description-1">
          <h4>#000000 c0ffee Tech-Talk der DB Systel</h4>
          <p>
            Im Mai war ich zu Gast beim #000000 c0ffee Tech-Talk der DB Systel,
            der Auf Grund der weltweiten Corona Pandemie remote stattfand.\r\n
            Im Interview spreche ich über meine Erfahrungen mit Vue.js und
            Angular und gehe darauf ein, welches Framework sich für welche
            Anwendungszwecke eignet. Außerdem erläutere ich, wie der aktuelle
            Stand der Technik für Progressive Webapps (PWA) ist. Im letzten Teil
            sprechen wir über die Anbindung von APIs und über das
            Architekturmuster \"Backend For Frontends\" (BFF).
          </p>
        </article>
        <article class="grid-description-2">
          <h4>Interview mit Agiledrop</h4>
          <p>
            Im Interview mit Agiledrop spreche ich über meinen Weg zur
            Webentwicklung und wie ich dazu kam Co-Autor des deutschsprachigen
            Angular Buchs zu sein. Weiterhin berichte ich von meinen praktischen
            Erfahrungen mit Angular und Vue.js und in welchem Fall ich auf
            Angular oder Vue.js setzen würde. Zum Abschluss gehe ich auf den
            Static-Site-Generator \"Scully\" und Webcomponents sowie auf meine
            Erwartungen an die zukünftige Entwicklung im Bereich Webtechnologien
            ein.
          </p>
        </article>
        @if (isBrowser) {
          <div class="grid-details-1 video-box" #videoBox>
            @defer (on viewport) {
              <youtube-player
                videoId="O3bYfZ8tcLc"
                [width]="youtubePlayerWidth"
              />
            } @placeholder {
              <div></div>
            }
          </div>
        }
        <div class="grid-details-2">
          @defer (on viewport) {
            <img
              src="https://www.agiledrop.com/sites/default/files/styles/blog_big_teaser/public/2020-07/Untitled%20design%20%289%29.png?itok=b7pnZ4kD"
              alt="Ein roter Hintergrund mit einem großen Angular-Logo und dem Foto von Danny Koppenhagen auf der rechten Seite"
            />
          } @placeholder {
            <div></div>
          }
          <a
            class="button small"
            href="https://www.agiledrop.com/blog/interview-danny-koppenhagen-vuejs-angular-buch-scully-and-web-components"
            >Zum kompletten Interview</a
          >
        </div>
      </div>
    </section>
    <h3 class="major">Mein Werdegang</h3>
    <section class="features">
      <div class="timeline">
        @for (step of steps; track step; let odd = $odd) {
          <div
            class="container hidden list-item"
            [ngClass]="odd ? 'right' : 'left'"
          >
            <div class="content">
              <div class="timeline-heading-header">
                <span class="timeline-heading-info time">
                  {{ step.when }}
                </span>
                <span class="timeline-heading-info location">{{
                  step.location
                }}</span>
              </div>
              <h4 class="timeline-heading">
                {{ step.what }}
              </h4>
              <span class="timeline-heading-info">{{ step.where }}</span>
              <p>{{ step.info }}</p>
            </div>
          </div>
        }
      </div>
    </section>
  </div>
</section>
