@use '../../../sass/libs/vars' as *;

p {
  white-space: pre-wrap;
}

.about,
.interviews {
  padding-bottom: 30px;

  .button-group {
    display: flex;
    gap: 1rem;
  }
}

.text-img {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;

  img {
    max-width: 300px;
    height: fit-content;
  }
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px 1.75em;
  grid-auto-flow: row;
  grid-template-areas:
    'grid-description-1 grid-description-2'
    'grid-details-1 grid-details-2';
  margin-bottom: 1.2em;
}
.grid-description-1 {
  grid-area: grid-description-1;
}
.grid-details-1 {
  grid-area: grid-details-1;
}
.grid-description-2 {
  grid-area: grid-description-2;
}
.grid-details-2 {
  grid-area: grid-details-2;
}
@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'grid-description-1'
      'grid-details-1'
      'grid-description-2'
      'grid-details-2';
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {
  .button.small {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 736px) {
  .text-img {
    flex-wrap: wrap;
  }
}
