<!-- Banner -->
<header id="banner">
  <div class="inner">
    <a routerLink="/" aria-label="Zur Startseite" title="Startseite" id="logo">
      <img src="images/logo_header.png" alt="Logo" />
    </a>
    <h1
      class="header-title"
      aria-label="k9n.dev"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      (focus)="onMouseEnter()"
      (blur)="onMouseLeave()"
    >
      <span>k</span>
      @if (!expanded) {
        <span class="headline-expanded">9</span>
      }
      @if (expanded) {
        <dk-text-slot-machine class="headline-expanded" result="oppenhage" />n
      }
      @if (!expanded) {
        <span>n.dev</span>
      }
    </h1>
    <p class="sub-header-title">Danny Koppenhagen</p>
    <p class="sub-header">Entwickler, IT-Berater, Buchautor</p>
  </div>
</header>
