@import '../../assets/sass/libs/vars';

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: lighten($c06, 10%);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Timeline Heading Style */
h2.timeline-heading {
  font-size: 1.76em;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

/* Timeline Heading Style */
h3 {
  font-size: 1em;
  text-transform: uppercase;
}
h4 {
  font-size: 0.9em;
  text-transform: none;
  margin-bottom: 0.1em;
}

span.location {
  position: absolute;
  right: 45px;
  top: 15px;
  display: flex;
  align-items: center;

  > i {
    margin-left: 15px;
    color: $c02;
  }
}

/* Container around content */
.container {
  padding: 10px;
  position: relative;
  background-color: inherit;
  width: 50%;
  max-height: 200px;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  right: -14px;
  background-color: white;
  border: 4px solid $c06;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.content {
  padding: 0px 30px;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 20px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 0px;
    max-height: unset;
  }

  .content {
    padding-right: 0px;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 6px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
