<div class="timeline">
  <div class="container left">
    <div class="content">
      <span class="location">Berlin<i class="fas fa-2x fa-thumbtack"></i></span>
      <h1 class="timeline-heading">2019</h1>
      <h2 class="timeline-subheading">
        Buchautor
      </h2>
      <p>
        Zweite Auflage des Buches:
        <a href="https://www.dpunkt.de/buecher/13231/9783864906466-angular.html"
          >Grundlagen, fortgeschrittene Themen und Best Practices – inklusive
          NativeScript und NgRx.</a
        >
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <span class="location">Berlin<i class="fas fa-2x fa-thumbtack"></i></span>
      <h1 class="timeline-heading">2017</h1>
      <h2 class="timeline-subheading">
        Buchautor
      </h2>
      <p>
        Erste Auflage des Buches:
        <a href="https://www.amazon.de/dp/3864903572"
          >Angular: Grundlagen, fortgeschrittene Techniken und Best Practices
          mit TypeScript.</a
        >
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <span class="location"
        >Leipzig<i class="fas fa-2x fa-thumbtack"></i
      ></span>
      <h1 class="timeline-heading">2017</h1>
      <h2 class="timeline-subheading">
        Bachelor Of Engineering: Kommunikations- Und Medieninformatik
      </h2>
      <p>
        Netzwerk- und Übertragungstechnik, Software Engineering, IT-Architektur,
        Protokollengineering sowie Web und Medien-Technologien.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <span class="location"
        >Frankfurt (Oder)<i class="fas fa-2x fa-thumbtack"></i
      ></span>
      <h1 class="timeline-heading">2012</h1>
      <h2 class="timeline-subheading">
        Facharbeiter IT-Systemelektroniker
      </h2>
      <p>
        Informatik, Telekommunikationstechnik sowie Elektrotechnik
      </p>
    </div>
  </div>
</div>
