<ng-container *transloco="let t; read: 'aboutPage'">
  <section id="about" class="wrapper style1">
    <div class="inner">
      <section class="about">
        <h3 class="major">{{ t('about') }}</h3>
        <p>{{ t('intro') }}</p>
        <p>{{ t('meetup') }}</p>
        <a
          class="button primary small"
          rel="noopener noreferrer"
          href="https://www.meetup.com/de-DE/Angular-Meetup-Berlin/"
          >{{ t('meetupCta') }}</a
        >
      </section>
      <h3 class="major">{{ t('interviews') }}</h3>
      <section class="interviews">
        <div class="row">
          <div class="col-6 col-12-small">
            <h4>{{ t('interviewDescriptions.blackCoffee.heading') }}</h4>
            <p>{{ t('interviewDescriptions.blackCoffee.text') }}</p>
            <div class="video-box" #videoBox>
              <youtube-player
                videoId="O3bYfZ8tcLc"
                [width]="youtubePlayerWidth"
              ></youtube-player>
            </div>
          </div>
          <div class="col-6 col-12-small">
            <h4>{{ t('interviewDescriptions.agiledrop.heading') }}</h4>
            <p>{{ t('interviewDescriptions.agiledrop.text') }}</p>
            <img
              src="https://www.agiledrop.com/sites/default/files/styles/blog_big_teaser/public/2020-07/Untitled%20design%20%289%29.png?itok=b7pnZ4kD"
            />
            <a
              class="button small"
              href="https://www.agiledrop.com/blog/interview-danny-koppenhagen-vuejs-angular-buch-scully-and-web-components"
              >{{ t('interviewDescriptions.agiledrop.link') }}</a
            >
          </div>
        </div>
      </section>
      <h3 class="major">{{ t('career') }}</h3>
      <section class="features">
        <div class="timeline">
          <div
            *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7].reverse(); let odd = odd"
            class="container hidden list-item"
            [ngClass]="odd ? 'right' : 'left'"
            animateOnScroll
            [animationName]="
              odd ? 'animated slideInRight' : 'animated slideInLeft'
            "
          >
            <div class="content">
              <span class="location">{{
                t('careerSteps.' + i + '.location')
              }}</span>
              <h2 class="timeline-heading">
                {{ t('careerSteps.' + i + '.when') }}
              </h2>
              <h3>{{ t('careerSteps.' + i + '.what') }}</h3>
              <h4>{{ t('careerSteps.' + i + '.where') }}</h4>
              <p>{{ t('careerSteps.' + i + '.info') }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</ng-container>
