@import '../../sass/libs/vars';

.menu-dark {
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px $c01;
  background-color: $c01;
  color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=90);

  > button {
    color: #ffffff;
    opacity: 1;
  }

  &:hover {
    box-shadow: inset 0 0 0 2px $c02;
    color: $c01;
  }
}
