@import '../../assets/sass/libs/vars';

.menu-dark {
  border-color: $c01;
  color: $c01;
  transition: background-color 0.2s ease-in-out;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px $c01;
  filter: invert(1);

  > a {
    background: inherit;
    background-clip: text;
    color: $c01;
  }

  &:hover {
    box-shadow: inset 0 0 0 2px $c04;
  }
}
