<ng-container *transloco="let t; read: 'meetupsPage'">
  <section class="wrapper alt spotlight">
    <div class="inner">
      <a href="https://angular-buch.com" class="image"
        ><img
          src="assets/images/Angular-Berlin_Icon.svg"
          [attr.alt]="'thumbnail' | transloco"
      /></a>
      <div class="content">
        <h2 class="major">{{ t('title') }}</h2>
        <p>{{ t('description') }}</p>
        <a
          href="https://www.meetup.com/de-DE/Angular-Meetup-Berlin"
          class="special"
          >{{ t('readOn') }}</a
        >
      </div>
    </div>
  </section>
</ng-container>
