<section class="wrapper alt spotlight">
  <div class="inner">
    <a href="https://www.meetup.com/de-DE/Angular-Meetup-Berlin" class="image"
      ><img src="images/Angular-Berlin_Icon.png" alt="Angular Berlin Logo"
    /></a>
    <div class="content">
      <h2 class="major">Angular Berlin Meetup</h2>
      <p>
        Ich bin Co-Organisator des Angular Meetup in Berlin. Dieses findet ca.
        alle 4-6 Wochen an wechselnden Standorten statt. Neben zwei Talks am
        Abend steht der Austausch und die Vernetzung mit anderen
        Entwickler:innen im Vordergrund.
      </p>
      <a
        href="https://www.meetup.com/de-DE/Angular-Meetup-Berlin"
        class="special"
        >Meetup.com: Angular Berlin</a
      >
    </div>
  </div>
</section>
