<ng-container *transloco="let t">
  <section id="footer">
    <div class="inner" id="contact">
      <h2 class="major">{{ t('contactMeHeading') }}</h2>
      <p>
        {{ t('contactParagraph') }}
      </p>
      <ul class="contact">
        <li class="icon solid fa-envelope">
          <a href="mailto:mail@d-koppenhagen.de">mail@d-koppenhagen.de</a>
        </li>
        <li class="icon solid fa-phone">
          <a href="tel:+4915129134704">+49 (0)151 29134704</a>
        </li>
        <li class="icon brands fa-github">
          <a href="https://github.com/d-koppenhagen"
            >github.com/d-koppenhagen</a
          >
        </li>
        <li class="icon brands fa-twitter">
          <a href="https://twitter.com/d_koppenhagen"
            >twitter.com/d_koppenhagen</a
          >
        </li>
        <li class="icon brands fa-linkedin">
          <a href="https://www.linkedin.com/in/d-koppenhagen/"
            >linkedin.com/in/d-koppenhagen</a
          >
        </li>
        <li class="icon brands fa-xing">
          <a href="https://www.xing.com/profile/Danny_Koppenhagen"
            >xing.com/profile/Danny_Koppenhagen</a
          >
        </li>
      </ul>
      <ul class="copyright">
        <li>&copy; 2020 by Danny Koppenhagen</li>
        <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        <li>
          {{ t('reportParagraph') }}
          <a href="https://github.com/d-koppenhagen/d-koppenhagen.de/issues">
            {{ t('createIssue') }}</a
          >,
          <a href="https://github.com/d-koppenhagen/d-koppenhagen.de/pulls">{{
            t('sendPR')
          }}</a>
          {{ t('or') }} <a href="#contact">{{ t('contactMe') }}</a
          >.
        </li>
      </ul>
    </div>
  </section>
</ng-container>
