<section id="footer">
  <div class="inner">
    <h2 class="major">Kontaktieren Sie mich</h2>
    <p>
      Haben Sie Fragen oder Anregungen? Nehmen Sie gern Kontakt mit mir auf!
    </p>
    <form method="post" action="#">
      <div class="fields">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="field">
          <label for="message">Nachricht</label>
          <textarea name="message" id="message" rows="4"></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Nachricht senden" /></li>
      </ul>
    </form>
    <ul class="contact">
      <li class="icon solid fa-home">
        <address>
          Otto-Nagel-Str. 104<br />
          12683 Berlin<br />
          Germany
        </address>
      </li>
      <li class="icon solid fa-phone">
        <a href="tel:+4915129134704">+49 (0)151 29134704</a>
      </li>
      <li class="icon solid fa-envelope">
        <a href="mailto:mail@d-koppenhagen.de">mail@d-koppenhagen.de</a>
      </li>
      <li class="icon brands fa-twitter">
        <a href="https://twitter.com/d_koppenhagen"
          >twitter.com/d_koppenhagen</a
        >
      </li>
      <li class="icon brands fa-github">
        <a href="https://github.com/d-koppenhagen">github.com/d-koppenhagen</a>
      </li>
      <li class="icon brands fa-linkedin">
        <a href="https://www.linkedin.com/in/d-koppenhagen/"
          >linkedin.com/in/d-koppenhagen</a
        >
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; 2019 by Danny Koppenhagen</li>
      <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
