<!-- Menu -->
<nav id="menu" class="is-menu-visible" cdkTrapFocus>
  <div class="inner">
    <h2>Menu</h2>
    <ul class="links" (click)="menuClicked()">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a href="#about">Über mich</a>
      </li>
      <li>
        <a routerLink="/blog">Blog</a>
      </li>
      <li>
        <a href="#contact">Kontakt</a>
      </li>
      <li>
        <a routerLink="/impressum">Impressum</a>
      </li>
    </ul>
    <a href="#" class="close" (click)="menuClicked()">Close</a>
  </div>
</nav>
