<section class="features">
  <article *ngFor="let post of blogPostData$ | async; let i = index">
    <a [routerLink]="post.route" class="image">
      <img [src]="post.thumbnail" alt="thumbnail" />
    </a>
    <h3 class="major">{{ post.title }}</h3>
    <p>
      {{ post.description }}
    </p>
    <div *ngIf="post.publishedAt && post.publishedAtUrl" class="published-at">
      Original veröffentlicht auf:
      <a [href]="post.publishedAtUrl">{{ post.publishedAt }}</a>
      <a [href]="post.publishedAtUrl" class="published-at-link">
        <img
          *ngIf="post.publishedAtLogo"
          class="published-at-logo"
          [src]="post.publishedAtLogo"
          alt="Logo of the published page"
        />
      </a>
    </div>
    <a [routerLink]="post.route" class="special">Weiterlesen...</a>
  </article>
</section>
