@import '../../../sass/libs/vars';

#cookie-banner {
  opacity: 0.9;
  z-index: 10000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: $c02;

  .banner-text,
  button {
    margin: 15px;
  }
}

@media screen and (max-width: 480px) {
  button.small {
    padding: 0 8px !important;
  }
}
