<!-- One -->
<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt=""/></a>
    <div class="content">
      <h2 class="major">Magna arcu feugiat</h2>
      <p>
        Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet
        turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla
        dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.
      </p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic02.jpg" alt=""/></a>
    <div class="content">
      <h2 class="major">Tempus adipiscing</h2>
      <p>
        Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet
        turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla
        dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.
      </p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper spotlight style3">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic03.jpg" alt=""/></a>
    <div class="content">
      <h2 class="major">Nullam dignissim</h2>
      <p>
        Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet
        turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla
        dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.
      </p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>
