@import '../../../sass/libs/vars';

.wrapper {
  margin-top: 0;
}

h1 {
  font-size: 1.4em;
}

.extra-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: baseline;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.published-at,
.external-links,
.edit-on-github {
  margin: 30px 0;
}

.published-at {
  height: 50px;
}

.published-at {
  display: flex;
  align-items: center;
  line-height: 1.2em;

  .published-at-link {
    text-decoration: none;
    border: none;
    min-width: 120px;

    .published-at-logo {
      padding-right: 20px;
      max-height: 60px;
    }
  }
}

.external-article {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.extra-section .actions {
  padding-bottom: 2rem;
}

span.image > img.thumbnail {
  max-width: 80px;
}

@media screen and (max-width: 560px) {
  .blog-footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: $c01;
    opacity: 0.9;
    z-index: 1;
    padding: 0 35px;

    > h2,
    h3 {
      display: none;
    }

    > ul {
      margin: 10px 0px;
      display: flex;
      justify-content: space-between;

      > li {
        padding-left: 0px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .extra-info {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .blog-footer {
    padding: 0 24px;
  }
}

.blog-header img {
  display: block;
  inline-size: 100%;
  block-size: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 1ch;
  overflow: hidden;
  box-shadow:
    0 3px 2px hsl(0 0% 0% / 2%),
    0 7px 5px hsl(0 0% 0% / 3%),
    0 13px 10px hsl(0 0% 0% / 4%),
    0 22px 18px hsl(0 0% 0% / 5%),
    0 42px 33px hsl(0 0% 0% / 6%),
    0 100px 80px hsl(0 0% 0% / 7%);
  margin-bottom: 1rem;
}
