<section id="wrapper">
  <section id="one" class="wrapper spotlight style1">
    <div class="inner">
      <a
        href="https://angular-buch.com"
        class="image"
        aria-label="Zur Buchwebsite (angular-buch.com)"
        ><img src="images/book-cover-v1m.png" alt="Buchcover: angular-buch.com"
      /></a>
      <div class="content">
        <h2 class="major">
          Angular: Das Praxisbuch – von den Grundlagen bis zur professionellen
          Entwicklung mit Signals – ab Angular 22
        </h2>
        <p>
          In diesem Praxiseinstieg lernst du Angular inklusive der modernen APIs
          und Konzepte kennen. Mit einem durchgängigen Beispielprojekt führen
          die Autoren dich durch die Welt von Angular. Du entwickelst und
          testest Schritt für Schritt eine professionelle, modulare und
          barrierefreie Single-Page-Anwendung und lernst Angular im praktischen
          Einsatz kennen. Auf jeden Umsetzungsschritt folgen außerdem
          umfangreiche Unit- und Integrationstests. Ausführliche Theorieteile
          runden das Buch ab und machen es zu deinem praktischen Begleiter im
          Entwicklungsalltag.
        </p>
        <a href="https://angular-buch.com" class="special">angular-buch.com</a>
      </div>
    </div>
  </section>
</section>
