<section id="wrapper">
  <section id="one" class="wrapper spotlight style1">
    <div class="inner">
      <a
        href="https://angular-buch.com"
        class="image"
        aria-label="Zur Buchwebsite (angular-buch.com)"
        ><img src="images/book-cover.png" alt="Buchcover: angular-buch.com"
      /></a>
      <div class="content">
        <h2 class="major">
          Angular: Das große Praxisbuch – Grundlagen, fortgeschrittene Themen
          und Best Practices – ab Angular 15
        </h2>
        <p>
          Lernen Sie Angular mit diesem umfassenden Praxisbuch! Dieses Buch
          stellt Ihnen die Bausteine von Angular, viele Best Practices und die
          notwendigen Werkzeuge vor. Beginnen Sie Ihren Einstieg mit einer
          praxisnahen Einführung.
        </p>
        <a href="https://angular-buch.com" class="special">angular-buch.com</a>
      </div>
    </div>
  </section>
</section>
