<ng-container *transloco="let t">
  <article class="wrapper alt">
    <div class="inner" *ngIf="post$ | async as post">
      <section class="project-header">
        <span *ngIf="post.thumbnail && post.thumbnail.header" class="image fit">
          <img
            [src]="post.thumbnail.header"
            [attr.alt]="'headerImage' | transloco"
          />
        </span>
      </section>
      <section class="project-content">
        <scully-content></scully-content>
        <div class="edit-on-github">
          <a
            [href]="editOnGithubLink()"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ t('editOnGithub') }}
          </a>
        </div>
      </section>
    </div>
  </article>
</ng-container>
