.markdown-content {
  table > tbody td {
    vertical-align: top;
    min-width: 120px;

    img {
      max-width: 100px;
    }
  }

  @media screen and (max-width: 560px) {
    table > tbody td > img {
      max-width: 70px;
    }
  }

  @media screen and (max-width: 360px) {
    table > tbody td > img {
      max-width: 40px;
    }
  }
}
