/* Angular Material */
@use '@angular/material' as mat;

@use 'sass/libs/vars';
@use 'sass/libs/functions';
@use 'sass/libs/mixins';
@use 'sass/libs/vendor';
@use 'sass/libs/breakpoints';

@use 'sass/libs/html-grid';
@use 'sass/base/reset';
@use 'sass/base/page';
@use 'sass/base/typography';
@use 'sass/components/row';
@use 'sass/components/section';
@use 'sass/components/form';
@use 'sass/components/box';
@use 'sass/components/icon';
@use 'sass/components/image';
@use 'sass/components/list';
@use 'sass/components/actions';
@use 'sass/components/icons';
@use 'sass/components/contact';
@use 'sass/components/pagination';
@use 'sass/components/table';
@use 'sass/components/button';
@use 'sass/components/features';
@use 'sass/layout/header';
@use 'sass/layout/menu';
@use 'sass/layout/banner';
@use 'sass/layout/wrapper';
@use 'sass/layout/footer';
@use 'markdown-content';

@include mat.elevation-classes();
@include mat.app-background();

$analog-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$analog-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$analog-warn: mat.m2-define-palette(mat.$m2-red-palette);
$analog-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $analog-primary,
      accent: $analog-accent,
      warn: $analog-warn,
    ),
  )
);

@include mat.all-component-themes($analog-theme);

/* animate.css */
@import 'animate.css/animate.css';

pre.language-mermaid {
  background: none;
}

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic&display=swap');

/* default outline settings */
img:focus,
a:focus,
nav:focus,
button:focus {
  outline: thin dotted;
}

/* set max image width, so be sure images are not out of viewport */
img {
  max-width: 100%;
}

/*
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
