<!-- Four -->
<section id="four" class="wrapper alt style1">
  <div class="inner">
    <h2 class="major">Vitae phasellus</h2>

    <markdown [src]="'static/2019-11-ngx-semantic-version/README.md'"></markdown>

    <p>
      Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat.
      Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem
      lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
    </p>
    <section class="features">
      <dk-blog-tile *ngFor="let article of articles" [article]="article"></dk-blog-tile>
    </section>
    <ul class="actions">
      <li><a href="#" class="button">Browse All</a></li>
    </ul>
  </div>
</section>
