<ng-container *transloco="let t">
  <section *ngIf="postData$ | async as posts" class="features">
    <ng-container *ngIf="posts.length; else emptyResultsTemplate">
      <dk-card
        *ngFor="let post of posts; let i = index"
        [post]="post"
      ></dk-card>
    </ng-container>
    <ng-template #emptyResultsTemplate>{{ t('listEmpty') }}</ng-template>
  </section>
  <ul *ngIf="(max && max < cntAll) || keyword || search" class="actions">
    <li>
      <a [routerLink]="['/', content]" class="button">{{
        t('showAll', { value: cntAll })
      }}</a>
    </li>
  </ul>
</ng-container>
