<ng-container *transloco="let t">
  <section *ngIf="postData$ | async as posts" class="features">
    <ng-container *ngIf="posts.length; else emptyResultsTemplate">
      <article *ngFor="let post of posts; let i = index">
        <div class="card-header">
          <a
            [routerLink]="post.route"
            *ngIf="
              post.thumbnail && (post.thumbnail.header || post.thumbnail.card)
            "
            class="image card-image"
          >
            <img
              [src]="post.thumbnail.card || post.thumbnail.header"
              [attr.alt]="'thumbnail' | transloco"
            />
          </a>
          <h3 class="major">{{ post.title }}</h3>
        </div>
        <summary class="card-content">
          <p>
            {{ post.description }}
          </p>
        </summary>
        <div class="card-footer">
          <a [routerLink]="post.route" class="special read-on"
            >{{ t('readOn') }}...</a
          >

          <a
            *ngIf="
              post.publishedAt && post.publishedAt.name && post.publishedAt.url
            "
            [href]="post.publishedAt.url"
            class="published-at-link"
            [title]="
              'originallyPublishedAt'
                | transloco: { value: post.publishedAt.url }
            "
          >
            <img
              *ngIf="post.publishedAt.logo; else showPublisherName"
              class="published-at-logo"
              [src]="post.publishedAt.logo"
              alt="Logo of the published page"
            />
            <ng-template #showPublisherName>{{
              t('originallyPublishedAt', {
                value: post.publishedAt.url
              })
            }}</ng-template>
          </a>
        </div>
      </article>
    </ng-container>
    <ng-template #emptyResultsTemplate>{{ t('listEmpty') }}</ng-template>
  </section>
  <ul *ngIf="(max && max < cntAll) || keyword || search" class="actions">
    <li>
      <a [routerLink]="['/', content]" class="button">{{
        t('showAll', { value: cntAll })
      }}</a>
    </li>
  </ul>
</ng-container>
