<!-- Menu -->
<div role="navigation" id="menu" class="is-menu-visible" aria-label="Hauptmenü">
  <div class="inner" role="navigation">
    <h2>Menü</h2>
    <ul class="links">
      <li>
        <a routerLink="/" (click)="closeDialog()">Startseite</a>
      </li>
      <li>
        <a href="#about" (click)="closeDialog()">Über mich</a>
      </li>
      <li>
        <a routerLink="/blog" (click)="closeDialog()">Blog</a>
      </li>
      <li>
        <a routerLink="/projects" (click)="closeDialog()">Projekte</a>
      </li>
      <li>
        <a routerLink="/contact" (click)="closeDialog()">Kontakt</a>
      </li>
      <li>
        <a routerLink="/imprint" (click)="closeDialog()">Impressum</a>
      </li>
    </ul>
    <button class="close" (click)="closeDialog()">Schließen</button>
  </div>
</div>
