name: Build

on:
  push:
    branches:
      - '*' # matches every branch that doesn't contain a '/'
      - '*/*' # matches every branch containing a single '/'
      - '**' # matches every branch
      - '!master' # excludes master
      - '!main' # excludes main
      - '!release' # excludes release
      - '!release/*' # excludes release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18.10'
      - run: npm ci && npm run build
